/* Color Variables */
:root {
    --cyan: #00ffff;
    --dark-cyan: #007777;
    --hot-pink: #ff0077;
    --dark-pink: #770044;
    --darker-pink: #330022;
    --background-black: #000000;
    --border-color: var(--hot-pink);
    --bright-green: #00ff88;
    --green: #008866;
    --dark-green: #003318;
}

/* General Page Styling */
body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Orbitron', 'Lucida Console', Monaco, monospace;
    color: var(--dark-cyan);
    min-height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;

/* Parent Table */
.parent-table {
    width: 66%;
    max-width: 800px;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    border: 0px solid var(--dark-pink);
    table-layout: fixed;
    align-items: center;
    height: 90vh;
}

/* Title Cell */
.title-table {
    font-size: clamp(1.5em, 4vw, 2.5em);
    font-weight: bold;
    color: var(--cyan);
    background-color: var(--background-black);
    padding: 0px;
    margin: 3px;
    border: 3px solid var(--hot-pink);
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: text-top;
    box-shadow: 0 0 25px var(--hot-pink);
}

/* title */
.title-cell {
    margin: 0px;
    padding: 5px;
    border: 2px solid var(--dark-cyan);
    background-color: var(--background-black);
    color: var(--cyan);
    white-space: normal;
    text-align: center;
    line-height: 1.5;
    text-align: center;
    white-space: normal;
    line-height: 1.0;
}
/* Title Cell Content */
.title-content {
    font-size: 15px;
    border-radius: 0px;
    font-family: 'Lucida Console', Monaco, monospace;
}

/* Spacer Cell */
.parent-spacer-cell {
    height: 10px;
    background-color: transparent;
}

/* Main Table */
.main-table {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    border: 3px solid var(--border-color);
    background-color: var(--background-black);
    table-layout: fixed;
    box-shadow: 0 0 25px var(--hot-pink);
}

/* Table Cells */
.main-table td {
    border: 0px solid var(--orange);
    padding: 0px;
    margin: 0px;
    background-color: var(--background-black);
    color: var(--cyan);
    vertical-align: text-top;
    overflow: hidden;
    white-space: normal;
    text-align: center;
    font-size: calc(0.8vw + 0.8vh + 0.5vmin);
    line-height: 1.1;
}
/* image */
.image-cell {
    font-size: 0.6em;
    padding: 0px 0;
    text-align: center;
    white-space: normal;
    line-height: 1.0;
    height: auto;
    aspect-ratio: 1 / 1;
}

/* Image Cell Content */
.image-content {
    padding: 0px;
    border: 0px solid var(--dark-cyan);
    margin: 09px;
    border-radius: 0px;
    background-color: var(--background-black);
    color: var(--cyan);
    height: auto;
    aspect-ratio: 1 / 1;
    /*box-shadow: 0 0 5px var(--cyan);*/
}
/* Image Styling */
.node-image {
    width: 100%;
    max-width: 350px;
    height: :auto;
    aspect-ratio: 1 / 1;
    display: block;
    margin: auto;
}
/* Tads */
.tags-cell {
    font-size: 0.6em;
    padding: 2px 0;
    text-align: center;
    white-space: normal;
    line-height: 1.25;
}
/* Tag Colors */
.primary-tags, .secondary-tags, .related-tags {
    background: var(--hot-pink):
    color: var(--hot-pink);
}
/* Tag Section (Green Monitor Style) */
.tags-content {
    border: 0px solid var(--hot-pink);
    background-color: var(--darker-pink);
    color: var(--hot-pink);
    margin: 0px;
    width: 90%
    white-space: normal;
    text-align: center;
    line-height: 1.5;
}
/* Description */
.description-cell {
    font-size: 0.6em;
    color: var(--bright-green);
    width: 100%;
    height: :auto;
    aspect-ratio: 1 / 1;
    padding: 0px;
    margin: 0px;
    text-align: center;
    align-items: center;
    white-space: normal;
    line-height: 1.0;
}

/* Description Cell Content */
.description-content {
    pbox-shad4px;
    border: 0px solid var(--bright-green);
    background-color: var(--dark-green);
    padding: 5px;
    margin: 5%;
    width: 85%;
    height: :auto;
    aspect-ratio: 1 / 1;
    color: var(--bright-green);
    white-space: normal;
    text-align: center;
    line-height: 1.5;
    border-radius: 10px;
    box-shadow: 0 0 15px var(--bright-green);
    font-family: 'Lucida Console', Monaco, monospace;
}
.description-content a {
    color: var(--bright-green);
    text-decoration: none;
    pointer-events: auto;
    height: :auto;
    aspect-ratio: 1 / 1;
    padding: 0px;
}
.description-link-content {
  pbox-shad4px;
  font-size: 1em;
  border: 0px solid var(--bright-green);
  background-color: var(--dark-green);
  padding: 5px;
  margin: 5%;
  width: 85%;
  height: :auto;
  aspect-ratio: 1 / 1;
  color: var(--bright-green);
  white-space: normal;
  text-align: center;
  line-height: 1.75;
  border-radius: 10px;
  box-shadow: 0 0 15px var(--bright-green);
  font-family: 'Lucida Console', Monaco, monospace;
  font-weight: 'bol';
}
.description-link-content a {
    color: var(--bright-green);
    font-size: 1em;
    text-decoration: none;
    pointer-events: auto;
    height: :auto;
    aspect-ratio: 1 / 1;
    padding: 0px;
}
/* Footer */
.footer-cell {
    font-size: 0.6em;
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle
    white-space: normal;
    border: 8px solid var(--hot-pink);
    border-top: 11px solid var(--orange);
    line-height: 2.0;
}
/* Footer Cell Content */
.footer-content {
    padding:5px;
    border: 0px solid var(--hot-pink);
    margin: 0px;
    height: 35px;
    text-align: center;
    line-height: 1.5;
    border-radius: 0px;
    background-color: var(--darker-pink);
    color: var(--hot-pink);

}
.footer-content a {
    color: var(--bright-pink);
    text-decoration: none;
    pointer-events: auto;
}

.footer-content a:hover {
    color: var(--hot-pink);
}
.bottom-spacer-cell {

    height: 35px;

    background-color: transparent;
}
.data-cell {
    font-size: 0.6em;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    text-align: center;
    vertical-align: middle
    white-space: normal;
    border: 0px solid var(--hot-pink);
    line-height: 2.0;
}
.data-content {
    border: 2px solid var(--green);
    border-radius: 10px;
    box-shadow: 0 0 50px var(--green);
    background-color: transparent;
    color: var(--green);
    padding: 10px;
    margin: 1px;
    width: 100%
    white-space: normal;
    text-align: center;
    line-height: 1;
}